.vl {
    border-left: 1px solid #9c9191;
    height: 410px;
    position: absolute;
    left: 60%;
    margin-left: -3px;
    top: 102px;
  }
  .ant-layout.ant-layout-has-sider{
    min-height: 75vh;
    width: 68vw;
    display: flex;
    position: relative;
    top: 10vh;
    left: 10vw;
    background: white;
  }
  .ant-layout-content{
      background-color: white;
  }
  .ant-layout{
    border-radius: 10px;
    border-color: gray;
  }